absl-py
accelerate
av
bitsandbytes
einops
fastapi
huggingface-hub
imageio
imageio-ffmpeg
ml-collections
numpy
opencv-python
optimum-quanto
pandas
peft
pillow
pydantic
requests
rich
safetensors
scipy
sentencepiece
tensorboard
torch
torchaudio
torchcodec
torchvision
tqdm
transformers
uvicorn
wandb
xformers
